<form>
    <div class="form-group">
        <label for="workDir">Server Root</label>
        <input class="form-control" id="cfgLocalhost" value="<%=config.get('joomlanager.localhost')%>" placeholder="/srv/www/htdocs">
    </div>
     <div class="form-group">
        <label for="cfgTheme">Theme</label>
        <select id="cfgTheme" class="form-control">
            <option<% if ('Wheit' == config.get('joomlanager.theme')) { %> selected="selected"<% } %>>Wheit</option>
            <option<% if ('Bläk' == config.get('joomlanager.theme')) { %> selected="selected"<% } %>>Bläk</option>
        </select>
     </div>
   <div class="checkbox">
        <label>
            <input type="checkbox" id="cfgDebug"<% if (config.get('joomlanager.debug')) { %> checked="checked"<% } %>> Debug
        </label>
    </div>
    <div class="form-group">
        <button id="btnSaveConfig" type="button" class="btn btn-sm btn-success">Save</button>
    </div>
</form>

